<h1>Card</h1>

<div class="container">
  <div class="row">
    <div class="col-4 card border-0">
      <div class="card_header bg-light border-bottom border-3 fs-2 fw-bolder">
        19 MAY 2023
      </div>
      <div class="card_body pt-3 pb-4 border-bottom border-2">
        <img
          src="../assets/images/event/01.jpg"
          alt=""
          class="img-fluid mb-3"
        />
        <h3 class="fw-bold fs-3">邪典電影派對——房間</h3>
        <p class="m-0">
          你有聽說過「大災難家」裡面的主角 Tommy Wiseau
          製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
        </p>
      </div>
      <div
        class="card_footer d-flex justify-content-between border-bottom border-2"
      >
        <button class="btn d-flex align-items-center">
          <img
            src="../assets/images/sparkler.png"
            alt="Star"
            class="img-fluid w-25"
          />
          <p class="m-0">社群活動</p>
        </button>
        <button class="btn">
          <span class="fw-bold">開賣中</span>
          <i class="icofont-double-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<h1 class="my-5">Text</h1>

<div class="container border border-3">
  <div class="col-12 px-6 py-7">
    <h1>TITLE</h1>
  </div>
</div>

<h1>Form</h1>
<div class="container">
  <form
    class="row d-flex justify-content-center needs-validation was-validated"
    novalidate
  >
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input
        type="text"
        class="form-control border-2 py-2 px-4 fs-4"
        id="account"
        placeholder="請輸入帳號"
      />
    </div>
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input
        type="text"
        class="form-control border-2 py-2 px-4 fs-4"
        id="account1"
        placeholder="請輸入帳號"
      />
    </div>
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input
        type="text"
        class="form-control border-2 py-2 px-4 fs-4"
        id="account2"
        placeholder="請輸入帳號"
        required
      />
      <div class="invalid-feedback">請輸入帳號!</div>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>

<h1>components-tag</h1>
<div class="container">
  <ul class="d-flex list-unstyled">
    <li class="border border-start-4 me-2">
      <a class="px-3 py-1 text-decoration-none" href="#">競賽</a>
    </li>
    <li class="border border-start-4 me-2">
      <a class="px-3 py-1 text-decoration-none" href="#">科技</a>
    </li>
    <li class="border border-start-4 me-2">
      <a class="px-3 py-1 text-decoration-none" href="#">有趣</a>
    </li>
  </ul>
</div>

<h1>components-pagination</h1>
<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item mx-1">
        <a class="page-link" href="#"><i class="icofont-arrow-left"></i></a>
      </li>
      <li class="page-item mx-1"><a class="page-link" href="#">1</a></li>
      <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
      <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
      <li class="page-item mx-1"><a class="page-link" href="#">4</a></li>
      <li class="page-item mx-1"><a class="page-link" href="#">5</a></li>
      <li class="page-item mx-1">
        <a class="page-link" href="#"><i class="icofont-arrow-right"></i></a>
      </li>
    </ul>
  </nav>
</div>

<h1>components-social-tag</h1>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="px-5 py-2 bg-light-white text-center w-75">社群活動</div>
    </div>
    <ul class="nav col-3">
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="icofont-file-alt me-1"></i><span>REGISTER</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="icofont-ui-user me-1"></i><span>LOGIN</span></a
        >
      </li>
    </ul>
    <button class="btn btn-dark px-2">
      確認表單資料
      <i class="icofont-double-right"></i>
    </button>
  </div>
</div>

<h1>Form</h1>
<div class="container">
  <table class="table align-middle">
    <thead class="border-bottom-3">
      <tr>
        <th scope="col">活動日期</th>
        <th scope="col">票種</th>
        <th scope="col">票價</th>
        <th class="ps-5" scope="col">購票</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th width="30%" scope="row">2023/5/12</th>
        <td width="29%">普通票</td>
        <td width="30%"><p>$600</p></td>
        <td class="text-end">
          <a class="btn btn-outline-dark border-2  py-2 px-6" href="">立即購票</a>          
        </td>
      </tr>
      <tr>
        <th width="30%" scope="row">2</th>
        <td width="29%">改頭換面票（含大改造）</td>
        <td width="30%"><p>$3600</p></td>
        <td class="text-end">
          <a class="btn btn-dark text-warning py-2 px-6" href="">立即購票</a>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

<div class="container">
    <table class="table align-middle">
    <thead class="border-bottom-3">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th width="50%" scope="row">日期</th>
        <td class="text-end" width="50%">2023/5/12</td>   
      </tr>
      <tr>
        <th scope="row">票種</th>
        <td class="text-end">改頭換面票（含大改造</td> 
      </tr>
      <tr>
        <th scope="row">票價</th>
        <td class="text-end">$8000</td> 
      </tr>          
    </tbody>
  </table>
</div>