<h1>Card</h1>

<div class="container">
  <div class="row">
    <div class="col-4 card border-0">
      <div class="card_header bg-light border-bottom border-3 fs-2 fw-bolder">19 MAY 2023</div>
      <div class="card_body pt-3 pb-4 border-bottom border-2">
        <img src="../assets/images/event/01.jpg" alt="" class="img-fluid mb-3" />
        <h3 class="fw-bold fs-3 ">邪典電影派對——房間</h3>
        <p class="m-0">
          你有聽說過「大災難家」裡面的主角 Tommy Wiseau
          製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
        </p>
      </div>
      <div class="card_footer d-flex justify-content-between border-bottom border-2">
        <button class="btn d-flex align-items-center">
          <img src="../assets/images/sparkler.png" alt="Star" class="img-fluid w-25"/>
          <p class="m-0">社群活動</p>
        </button>
        <button class="btn">
          <span class="fw-bold ">開賣中</span>
          <i class="icofont-duotone icofont-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<h1 class="my-5 ">Text</h1>

<div class="container border border-3 ">
  <div class="col-12 px-6 py-7">
    <h1>TITLE</h1>
  </div>
</div>

<h1>Form</h1>
<div class="container">
  <form class="row d-flex justify-content-center needs-validation was-validated" novalidate>
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input type="text" class="form-control border-2 py-2 px-4 fs-4" id="account" placeholder="請輸入帳號">
    </div>
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input type="text" class="form-control border-2 py-2 px-4 fs-4 " id="account1" placeholder="請輸入帳號">
    </div>
    <div class="col-4">
      <label for="account" class="form-label">帳號</label>
      <input type="text" class="form-control border-2  py-2 px-4 fs-4 " id="account2" placeholder="請輸入帳號" required>
      <div class="invalid-feedback">
        請輸入帳號!
      </div>
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>        
  </form>
</div>

<h1>components-tag</h1>
<div class="container">
<ul class="d-flex list-unstyled">
  <li class="border border-start-4 me-2"><a class="px-3 py-1 text-decoration-none" href="#">競賽</a></li>
  <li class="border border-start-4 me-2"><a class="px-3 py-1 text-decoration-none" href="#">科技</a></li>
  <li class="border border-start-4 me-2"><a class="px-3 py-1 text-decoration-none" href="#">有趣</a></li>
</ul>
</div>