<nav class="navbar navbar-expand-xl navbar-light bg-light pb-6 border border-bottom-3">
  <div class="container justify-content-around">
    <a class="navbar-brand d-flex align-content-center" href="#">
      <img
        src="/assets/images/logo.png"
        alt=""
        width="53"
        height="53"
        class="d-inline-block align-text-bottom "
      />
      <p class="fs-3 m-0 lh-lg">7TAO</p>
      <p class="fs-5 m-0 lh-lg">活動訂票網</p>
    </a>
    <div>
      <div class="input-group">
        <input
          type="text"
          class="form-control py-4 px-6"
          placeholder="Recipient's username"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button class="btn btn-dark" type="button" id="button-addon2">
          <i class="icofont-search-1"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="icofont-file-alt me-1"></i><span>REGISTER</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="icofont-ui-user me-1"></i><span>LOGIN</span></a
          >
        </li>
      </ul>
    </div>    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
