<nav class="navbar navbar-expand-xl navbar-light bg-light border-bottom-3">
  <div class="container py-1 py-md-4 gx-1">
    <a class="navbar-brand d-flex align-items-center" href="./index.html">
      <img
        src="/assets/images/logo.png"
        alt=""
        width="53"
        height="53"
        class="d-inline-block align-text-bottom me-md-4"
      />
      <h1 class="fs-3 m-0 lh-lg d-none d-md-block">7TAO</h1>
      <p class="fs-5 m-0 lh-lg d-none d-md-block">活動訂票網</p>
    </a>
    <div class="flex-shrink-1">
      <div class="input-group">
        <input
          type="text"
          class="form-control py-4 px-6"
          placeholder="探索活動"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button class="btn btn-dark" type="button" id="button-addon2">
          <i class="icofont-search-1 text-warning"></i>
        </button>
      </div>
    </div>
    <button
      class="navbar-toggler ms-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="./login.html"
            ><i class="icofont-file-alt me-1"></i><span>REGISTER</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./login.html"
            ><i class="icofont-ui-user me-1"></i><span>LOGIN</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
