a {
  text-decoration: none;
}

// a:hover {
//   color: $warning;
// }

a.badge:hover {
  border-left-color: $warning !important;
    background: #000;
    color: $white !important;
    a {
      color: $white !important;
    }
  }
