.page_xl_m {
  margin:32px auto;

  @include b768 {
    margin: 60px auto;
  }
}

.pagination .page-item a:hover {
  background-color: $dark !important;
  color: $warning !important;
  border: 0 !important;
}