.number {
  width: 32px;
  height: 32px;
  z-index: 1;
}

.pay-list::before {
  content: "";
  position: absolute;
  // width: 83%;
  height: 1px;
  background-color: #000;
  top: 30%;
  left: 5%;
  right: 5%;
  z-index: -2;
}

.title-ls {
  letter-spacing: 2.4px;
}

.sparkler {
  width: 32px;
  height: 32px;
}


.step {
  .step_number {
    background-color: $light;
  }
  .step_checked {
    display: none !important;
  }
  &.active .step_number {
    background-color: $dark;
    color: $warning;
    display: flex !important;;
  }
  &.done .step_checked {
    background-color: $dark;
    color: $warning;
    display: flex !important;;
  }
  &.done .step_number {
    display: none !important;
    ;
  }
}