.img_block {
  height: 158px;
  margin-bottom: 24px;
  @include b768 {
    height: 100%;
    margin-bottom: 0;
  }
  background-image: url('/assets/images/event/online.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.marquee_content {
  max-height: 94px;
  overflow-y: hidden;
}

.img_content_sm {
  overflow: hidden;
  height: 267px;
  @include b768 {
    height: 274px;
  }
}

.heading_4 {
  font-size: 18px;
  font-weight: 700;
}

.albums_tag {
  position: absolute;
  top: -20px;
  left: 35%;
  transform: translate(-50%);
  transform: rotate(-4deg);
}

.rotate-e-2 {
  transform: rotate(2deg);
}
.rotate-s-2 {
  transform: rotate(-2deg);
}