$utilities: (
  "border-start": (property: border-left,
    class: border-start,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
      1: 1px solid var(--#{$prefix}border-color),
      2: 2px solid var(--#{$prefix}border-color),
      3: 3px solid var(--#{$prefix}border-color),
      4: 4px solid var(--#{$prefix}border-color),
    )),
  "border-bottom": (property: border-bottom,
    class: border-bottom,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
      1: 1px solid var(--#{$prefix}border-color),
      2: 2px solid var(--#{$prefix}border-color),
      3: 3px solid var(--#{$prefix}border-color),
      4: 4px solid var(--#{$prefix}border-color),
    )),
    "border-top": (property: border-top,
      class: border-top,
      values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
        1: 1px solid var(--#{$prefix}border-color),
        2: 2px solid var(--#{$prefix}border-color),
        3: 3px solid var(--#{$prefix}border-color),
        4: 4px solid var(--#{$prefix}border-color),
      )),
  "gap": (responsive: true,
    property: gap,
    class: gap,
    values: (null: var(--#{$prefix}gutter-x) var(--#{$prefix}gutter-y),
      0: 0,
      1: 0.25rem,
      2: 0.5rem,
      3: 1rem,
      4: 1.5rem,
      5: 3rem,
    )),
);