<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
  </head>
  <body>
    <%- include('./layout/navbar.ejs'); -%>

    <div class="container mt-8 carousel overflow-hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide position-relative">
          <h2 class="position-absolute title text-white">19 MAY 2023</h2>
          <img src="../assets/images/event/13.jpg" alt="" class="img-fluid" />
          <div
            class="position-absolute sup_text_content text-center text-white pb-6"
          >
            <h2 class="sup_title mb-0 mb-md-4">隔牆有耳-沒有草東的派對</h2>
            <p class="m-0">
              你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
              帶上啤酒、野餐墊，讓我們在Live
              House外面一起開場「沒有草東的派對」吧！
            </p>
          </div>
        </div>
        <div class="swiper-slide position-relative">
          <h2 class="position-absolute title text-white">25 JUNE 2023</h2>
          <img src="../assets/images/event/05.jpg" alt="" class="img-fluid" />
          <div
            class="position-absolute sup_text_content text-center text-white pb-6"
          >
            <h2 class="sup_title mb-0 mb-md-4">酒精路跑</h2>
            <p class="m-0">
              身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
            </p>
          </div>
        </div>
        <div class="swiper-slide position-relative">
          <h2 class="position-absolute title text-white">23 MAY 2023</h2>
          <img src="../assets/images/event/04.jpg" alt="" class="img-fluid" />
          <div
            class="position-absolute sup_text_content text-center text-white pb-6"
          >
            <h2 class="sup_title mb-0 mb-md-4">皮卡丘排球大賽</h2>
            <p class="m-0">
              你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
              帶上啤酒、野餐墊，讓我們在Live
              House外面一起開場「沒有草東的派對」吧！
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next mx-md-8 text-white"></div>
      <div class="swiper-button-prev mx-md-8 text-white"></div>
    </div>

    <div class="container py-8">
      <ul class="nav row my-3">
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link active border border-2 text-center fs-4 h-100 d-flex flex-column fg-3 justify-content-center"
            aria-current="page"
            href="./more.html"
          >
            <img
              class="rounded d-block mx-auto content_img"
              src="../assets/images/cate01.svg"
              alt=""
            />
            演出
          </a>
        </li>
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link active border border-2 text-center fs-4 h-100 d-flex flex-column fg-3 justify-content-center"
            aria-current="page"
            href="./more.html"
          >
            <img
              class="rounded d-block mx-auto content_img"
              src="../assets/images/cate02.svg"
              alt=""
            />
            聯誼
          </a>
        </li>
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link active border border-2 text-center fs-4 h-100 d-flex flex-column fg-3 justify-content-center"
            aria-current="page"
            href="./more.html"
          >
            <img
              class="rounded d-block mx-auto content_img"
              src="../assets/images/cate03.svg"
              alt=""
            />
            展覽
          </a>
        </li>
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link active border border-2 text-center fs-4 h-100 d-flex flex-column fg-3 justify-content-center"
            aria-current="page"
            href="./more.html"
          >
            <img
              class="rounded d-block mx-auto content_img"
              src="../assets/images/cate04.svg"
              alt=""
            />
            美食
          </a>
        </li>
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link border border-2 text-center fs-4 h-100 d-flex flex-column fg-3 justify-content-center"
            aria-current="page"
            href="./more.html"
          >
            <img
              class="rounded d-block mx-auto content_img"
              src="../assets/images/cate05.svg"
              alt=""
            />
            戶外
          </a>
        </li>
        <li class="nav-item col-4 col-md-2 mb-2 mb-md-0">
          <a
            class="nav-link border border-2 bg-dark text-center fs-2 fs-md-3 text-warning"
            aria-current="page"
            href="./more.html"
          >
            探索<br />更多
          </a>
        </li>
      </ul>
    </div>
    <div class="container mb-6 mb-md-8">
      <div
        class="col-12 px-8 py-6 border border-3 d-flex justify-content-between align-items-center"
      >
        <h2 class="heading_main m-0">RECENT</h2>
        <h2 class="heading_sup m-0 fw-bold">近期活動</h2>
      </div>
    </div>

    <!-- event cards -->
    <%- include('./layout/eventCards.ejs'); -%>

    <div class="container mb-8">
      <div
        class="col-12 px-8 py-6 border border-3 d-flex justify-content-between align-items-center"
      >
        <h2 class="heading_main m-0">ONLINE</h2>
        <h2 class="heading_sup m-0 fw-bold">線上活動</h2>
      </div>
    </div>
    <!-- online event banner -->
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="img_block"></div>
        </div>
        <div class="col-md-5">
          <h3>切特居批踢</h3>
          <ul class="d-flex list-unstyled mb-md-8">
            <li class="border border-start-4 me-2">
              <a class="px-3 py-1 text-decoration-none" href="#">競賽</a>
            </li>
            <li class="border border-start-4 me-2">
              <a class="px-3 py-1 text-decoration-none" href="#">科技</a>
            </li>
            <li class="border border-start-4 me-2">
              <a class="px-3 py-1 text-decoration-none" href="#">有趣</a>
            </li>
          </ul>
          <p class="mb-md-8">
            最近網路上很流行的AI程式
            ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
            這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
            該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
          </p>
          <button
            class="btn btn-primary w-100 py-6 py-md-2 d-flex justify-content-center align-items-center"
            type="button"
          >
            <span>查看活動詳情</span>
            <i class="icofont-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- picture banner -->
    <%- include('./layout/marquee.ejs'); -%>
    <div class="container">
      <ul class="row list-unstyled gy-8">
        <li class="col-10 col-md-3 mx-auto">
          <div class="border border-2 position-relative p-3 p-md-4">
            <div class="px-5 py-2 bg-light-white text-center albums_tag">
              社群活動
            </div>
            <div class="img_content_sm mb-3 mb-md-4">
              <img
                src="../assets/images/album/01.jpg"
                alt=""
                class="img_cover"
              />
            </div>
            <h4 class="mb-8 mb-md-9 fs-5 heading_4">無聲派對-閉閉嘴dancing</h4>
          </div>
        </li>
        <li class="col-10 col-md-3 mx-auto">
          <div class="border border-2 position-relative p-3 p-md-4 rotate-e-2">
            <div class="px-5 py-2 bg-light-white text-center albums_tag">
              藝文活動
            </div>
            <div class="img_content_sm mb-3 mb-md-4">
              <img
                src="../assets/images/album/02.jpg"
                alt=""
                class="img_cover"
              />
            </div>
            <h4 class="mb-8 mb-md-9 fs-5 heading_4">拯救老店大作戰</h4>
          </div>
        </li>
        <li class="col-10 col-md-3 mx-auto">
          <div class="border border-2 position-relative p-3 p-md-4 rotate-s-2">
            <div class="px-5 py-2 bg-light-white text-center albums_tag">
              自我覺察
            </div>
            <div class="img_content_sm mb-3 mb-md-4">
              <img
                src="../assets/images/album/03.jpg"
                alt=""
                class="img_cover"
              />
            </div>
            <h4 class="mb-8 mb-md-9 fs-5 heading_4">內觀修行-部落篇</h4>
          </div>
        </li>
        <li class="col-10 col-md-3 mx-auto">
          <div class="border border-2 position-relative p-3 p-md-4 rotate-e-2">
            <div class="px-5 py-2 bg-light-white text-center albums_tag">
              聯誼活動
            </div>
            <div class="img_content_sm mb-3 mb-md-4">
              <img
                src="../assets/images/album/04.jpg"
                alt=""
                class="img_cover"
              />
            </div>
            <h4 class="mb-8 mb-md-9 fs-5 heading_4">賞櫻野餐</h4>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/marquee.ejs'); -%>

    <div class="container mb-9 mb-md-10">
      <div class="row gy-6 gy-md-0">
        <div class="col-md-6 px-md-0 d-flex flex-column">
          <div class="border border-2 flex-grow-1 d-flex flex-column">
            <h4 class="fs-3 fw-bold border-bottom-2 py-4 px-8">#FOLLOW US</h4>
            <div class="p-8 flex-grow-1">
              <p class="mb-8">
                想第一時間獲得新奇有趣的活動資訊？ 追蹤我們的社群吧！
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。
              </p>
              <div class="d-flex align-items-center mb-4">
                <p class="m-0 me-2 px-2 py-1 bg-dark">
                  <i class="icofont-ui-email text-light"></i>
                </p>
                <p class="m-0">7tao.event@gmail.com</p>
              </div>

              <div class="d-flex align-items-center mb-4">
                <p class="m-0 me-2 px-2 py-1 bg-dark">
                  <i class="icofont-phone text-light"></i>
                </p>
                <p class="m-0">09123123123</p>
              </div>
              <div class="d-flex align-items-center">
                <p class="m-0 me-2 px-2 py-1 bg-dark">
                  <i class="icofont-facebook text-light"></i>
                </p>
                <p class="m-0">7TAO七逃</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 px-md-0 d-flex flex-column">
          <div class="border border-2 p-0 flex-grow-1 d-flex flex-column">
            <h4 class="m-0 fs-3 fw-bold border-bottom-2 py-4 px-8">
              #SUBSCRIBE US
            </h4>
            <form class="p-8 flex-grow-1">
              <p class="mb-8">
                訂閱電子報送折價券！ 定期精選文章資訊及最新優惠資訊，
                還不通通給我訂閱起來？
              </p>
              <input
                type="text"
                class="form-control border-2 py-2 px-4 fs-4"
                id="account"
                placeholder="請輸入帳號"
              />
            </form>
            <button
              class="btn btn-primary w-100 py-6 py-md-2 d-flex justify-content-center align-items-center"
              type="button"
            >
              確認訂閱
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center py-9 py-md-10 border-top-3">
      <h5 class="fs-3 fw-bold">此刻打盹，你將做夢；此刻學習，你將圓夢</h5>
      <p class="fs-5 m-0">——我也不知道誰說的</p>
    </div>

    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
