<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/icofont/icofont.min.css" />
  </head>
  <body>
    <%- include('./layout/navbar.ejs'); -%>

    <div class="container mb-6 mb-md-8 mt-4 mt-md-8">
      <div
        class="col-12 px-8 py-6 border border-3 d-flex justify-content-between align-items-center"
      >
        <h2 class="heading_main m-0">EVENT</h2>
        <h2 class="heading_sup m-0 fw-bold">所有活動</h2>
      </div>
    </div>
    <div class="container mb-8">
      <div>
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >演出</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >音樂</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >舞蹈</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >戲劇</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >音樂會</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >課程講座</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >社群活動</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >展覽</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >研討會</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >電影</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >電音派對</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >遊戲競賽</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >親子</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >藝文活動</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >運動</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >交通旅遊</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1 me-1"
          >美食</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >資訊科技</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >聯誼</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >戶外</a
        >
        <a
          href="#"
          class="badge text-dark border border-start-4 py-1 px-6 fw-bold mt-2 me-1"
          >線上活動</a
        >
      </div>
    </div>
    <%- include('./layout/cardIndex.ejs'); -%> <%-
    include('./layout/pagination.ejs'); -%> <%- include('./layout/footer.ejs');
    -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
